#header, #content {
    position:fixed; left:10%; width:80%;
    /*background:#CCC*/
}

#header{
    top: 1;
    height: 21px;
    /*background:#CCC;*/
    background-image: url('clouds.jpg');
    background-repeat: repeat-x repeat-y;
}

#content{
    top:25px;
    bottom:10px;
    /*overflow:hidden*/
    overflow:auto
}

#content_inner{height:100%;overflow:auto}

.banniere {
    position: relative;
    width: 100%;
    height: 226px;
    background-image: url('banniere-nuages.jpg');
    background-repeat: repeat-x;
}

p.banniere1 {
    font-family: sans-serif;
    font-size:3em;
}

p.banniere2 {
    font-family: sans-serif;
    font-size:2em;
}

@media (max-width: 640px) {
  * {
      box-sizing: border-box;
  }

#header, #content {
    position:absolute; left:0%; width:100%;
    /*background:#CCC*/
}

#header{
    top: 1;
    height: 23px;
    background:#CCC;
}

#content{
    top:25px;
    bottom:10px;
    margin-left:1px;
    margin-right:1px;
}

.banniere {
    position: relative;
    width: 100%;
    height: 226px;
}

p.banniere1 {
    font-family: sans-serif;
    font-size:2em;
}

p.banniere2 {
    font-family: sans-serif;
    font-size:1.5em;
}


}
